<footer class="footer">
    <div class="footer_logo">
        <img src="<%= rootURL %>/assets/img/nikologo.png" alt="">      
    </div>
    <p class="staff">
        Photo_Hiroyo Kai (CLOCK)<br>
        Text_Noriko Oba<br>
        Edit_Hibiku Kataoka (Rhino)<br>
        Web Development_Riho Yamamoto (Rhino)<br>
        Direction & Design_Hiroaki Takatori
                
    </p>
    <p class="copy">
        Copyright © Adastria Co., Ltd. All rights reserved.
    </p>
</footer>