<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- meta -->
<title>LOONEY TOONS meet niko and ...  | niko and ... （ニコアンド）</title>
<meta name="description" content="2017年に人気を呼んだ、『ルーニー・テューンズ』とのコラボ企画第２弾。世界中から親しまれているアニメーションにヴィンテージ調のデザインを施し、新生活で使いたいアイテムとして完成させました！">

<!-- ogp -->
<meta property="og:title" content="LOONEY TOONS meet niko and ...  | niko and ... （ニコアンド）">
<meta property="og:type" content="website">
<meta property="og:description" content="2017年に人気を呼んだ、『ルーニー・テューンズ』とのコラボ企画第２弾。世界中から親しまれているアニメーションにヴィンテージ調のデザインを施し、新生活で使いたいアイテムとして完成させました！">
<meta property="og:url" content="">
<meta property="og:image" content="https://www.nikoand.jp/gyoza_boogieback/assets/img/ogp.jpg">
<meta property="og:locale" content="ja_JP">
<meta property="og:site_name" content="サイトの名前">
<meta name="twitter:card" content="summary_large_image">
<link rel="canonical" href="サイトのURL">

<link rel="stylesheet" href="<%= rootURL %>/assets/css/style.css">